.formgroup {
  .gap();
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  > label {
    display: block;
    padding-bottom: 0.6rem;
    font-weight: bold;
  }
  input[type='checkbox'] + label {
    display: inline-block;
  }
  > input[type='text'],
  > select {
    height: 2.5rem;
    width: 100%;
    box-sizing: border-box;
  }
}